ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
}

.JobListItem {
  color: #444;
}

.JobListItem:nth-child(odd) {
  background: #eee;
}

.JobListItem[data-favorite='true'] {
  color: hotpink;
}

.JobToggleFavorite[aria-pressed='false'] {
  /* background: gray; */
}

.JobToggleFavorite[aria-pressed='true'] {
  /* background: white; */
}
